<div class="well">
	<form name="myForm">
		<div class="form-group" ng-class="{error: myForm.name.$invalid}">
			<label>Name</label>
			<span ng-show="myForm.name.$error.required" class="text-info">&nbsp;&nbsp;*Required</span>
			<input class="form-control" type="text" name="name" ng-model="project.name" required>
		</div>
		<div class="form-group" ng-class="{error: myForm.site.$invalid}">
			<label>Website</label><span ng-show="myForm.site.$error.required" class="text-info">&nbsp;&nbsp;*Required</span><span ng-show="myForm.site.$error.url" class="text-danger">&nbsp;&nbsp;*Not a valid URL</span>
			<input class="form-control" type="url" name="site" ng-model="project.site" required>
		</div>	
		<div class="form-group">
			<label>Rating</label>
			<span ng-show="myForm.rating.$error.required" class="text-info">&nbsp;&nbsp;*Required</span>
			<select class="form-control" name="rating" required ng-model="project.rating" ng-options="rating.name for rating in Ratings">
				<option value="">Please rate this link...</option>
			</select>
		</div>
		<label>Description</label>
		<textarea class="form-control" name="description" ng-model="project.description"></textarea>
		<p>&nbsp;</p>
		<button ng-click="cancel()" class="btn btn-primary">Cancel</button>&nbsp;&nbsp;
		<button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
	</form>
</div>
