<div>
<form name="myForm">
  <div class="control-group" ng-class="{error: myForm.name.$invalid}">
    <label>Name</label>
    <input type="text" name="name" ng-model="project.name" required>
    <span ng-show="myForm.name.$error.required" class="help-inline">
        Required</span>
  </div>
 
  <div class="control-group" ng-class="{error: myForm.site.$invalid}">
    <label>Website</label>
    <input type="url" name="site" ng-model="project.site" required>
    <span ng-show="myForm.site.$error.required" class="help-inline">
        Required</span>
    <span ng-show="myForm.site.$error.url" class="help-inline">
        Not a URL</span>
  </div>
		<div class="control-group">
		<label>Rating</label>&nbsp;&nbsp;&nbsp;{{project.rating.name}}&nbsp;&nbsp;&nbsp;

			<select name="rating" required ng-model="project.rating" ng-options="rating.name for rating in Ratings">
				<option value="">Change this link's rating...</option>
			</select>
			<span ng-show="myForm.rating.$error.required" class="help-inline">Required</span></div> 
  <label>Description</label>
  <textarea name="description" ng-model="project.description"></textarea>
 
  <br>
  <button ng-click="done()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Done</button>
</form>
</div>