<div class="input-group input-group-lg">
  <span class="input-group-addon"><i class="icon-search"></i> </span>
  <input type="text" ng-model="search" class="form-control" placeholder="Search">
</div>

<br/>

<div class="row">
<div class="col-md-6"><a href="#/add" class="btn btn-primary text-left"><span class="glyphicon glyphicon-plus"></span> Add New Link</a></div>
<div class="col-md-6"><p class="lead text-right">Links in Collection: <span class="label label-info">{{linkCountRef.$value}}</span></p></div>
</div>
<div class="well">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Link&nbsp;&nbsp;<small><a ng-click="predicate = 'name'; reverse=!reverse" href=""><span class="glyphicon glyphicon-sort"></span></a></small></th>
      <th>Description&nbsp;&nbsp;<small><a ng-click="predicate = 'description'; reverse=!reverse" href=""><span class="glyphicon glyphicon-sort"></span></a></small></th>
	  <th>Rating&nbsp;&nbsp;<small><a ng-click="predicate = 'rating.value'; reverse=!reverse" href=""><span class="glyphicon glyphicon-sort"></span></a></small></th>
	  <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="link in Links | filter:search | orderBy:predicate:reverse">
      <td><a href="{{link.site}}" target="_blank">{{link.name}}</a></td>
      <td>{{link.description}}</td>
	  <td>{{link.rating.name}} <small>({{link.rating.value}})</small> <span style="color: #E31316;" ng-show="link.rating.value == 5" class="glyphicon glyphicon-heart"></span><span ng-show="link.rating.value < 3" class="glyphicon glyphicon-thumbs-down"></span></td>
      <td>
        <a href="#/edit/{{link.$id}}"><i class="icon-pencil"></i></a>&nbsp;&nbsp;
		<a href="#/delete/{{link.$id}}" href="#"><i class="icon-trash"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>