<!DOCTYPE html>
<html ng-app="Test">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
    <div ng-controller="TestController">
      <h1>Angular Fire 0.8.2 Remove Test</h1>
      <ul>
        <li ng-repeat="item in Items">{{item.$id}}: {{item.val}}, <a href="#" ng-click="Items.$remove(item)">Remove</a></li>
      </ul>
      <form ng-submit="Items.$add({val: value})">
        <input type="text" ng-model="value"/>
        <input type="submit" value="Add"/>
      </form>
    </div>
  </body>

</html>